/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--color-white);
  position: fixed;
  width: 100%;
  z-index: 99999;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.header-main {
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
}
.header-logo {
  width: 60px;
  height: 60px;
}
.header-logo img {
  width: auto;
  height: 100%;
}

.header-search {
  width: 500px;
  height: 50px;
  display: flex;
  position: relative;
}

.header-search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.8rem;
  color: var(--color-black);
}

.header-search-input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 2rem;
  outline: none;
  border: none;
  padding: 0 20px;
  background-color: var(--color-pink);
}
.header-search-input:focus + .header-search-icon {
  display: none;
}
.header-list ul {
  display: flex;
  width: 364px;
  padding: 0;
  justify-content: center;
}
.header-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  width: 30%;
}
.header-list a {
  width: 100%;
  padding: 28px 0;
}
/* Khoa */

/* End Khoa */
.header-list a:hover {
  color: var(--color-red);
  text-decoration: none;
}

.header-khoa {
  width: 100vw;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 600;
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  display: none;
}

.header-khoa-wrap {
  width: 1140px;
  padding: 30px 100px;
}

.header-khoa-title {
  margin-left: 670px;
  width: 100px;
  text-align: center;
  margin-right: 60px;
  font-size: 28px;
  margin-bottom: 30px;
  position: relative;
  border-top: 5px solid var(--color-white);
}

.header-khoa-list {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.header-khoa-list li {
  margin-bottom: 15px;
}

.header-khoa-list a {
  color: var(--color-white);
}

.header-menu {
  display: none;
  cursor: pointer;
  position: relative;
}

.header-menu:hover {
  color: var(--color-red);
}

.header-menu-list {
  position: absolute;
  top: 74px;
  right: 0px;
  width: 200px;
  box-shadow: #32326926 0px 2px 5px 0px, #0000000d 0px 1px 1px 0px;
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 30px 30px;
  max-height: 700px;
  z-index: 999;
  display: flex;
  justify-content: center;
  text-align: center;
  display: none;
}

.header-menu-list li {
  padding: 10px 0;
  border-bottom: 1px solid #32326926;
}
.header-noti {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.header-noti i:hover {
  color: var(--color-red);
}
.header-noti i {
  font-size: 2.6rem;
}

.header-noti-list {
  position: absolute;
  top: 72px;
  right: -80px;
  width: 500px;
  box-shadow: #32326926 0px 2px 5px 0px, #0000000d 0px 1px 1px 0px;
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 30px 30px;
  max-height: 460px;
  display: none;
  z-index: 999;
  overflow-y: scroll;
}

.noti-title {
  font-size: 30px;
  font-weight: 700;
  margin-left: 15px;
}

.noti-item {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}
.noti-img {
  width: 25%;
  display: flex;
  justify-content: center;

}
.noti-content{
  flex: 1;
}
.noti-img img {
  width: 100%;
}

.noti-content {
  margin-top: 10px;
}

.noti-desc {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.noti-state {
  font-size: 1.2rem;
}

.header-acc {
  width: 36px;
  cursor: pointer;
}

.header-acc img {
  width: 100%;
  position: relative;
}

.acc-box {
  position: absolute;
  top: 92px;
  right: 0;
  width: 320px;
  box-shadow: #32326926 0px 2px 5px 0px, #0000000d 0px 1px 1px 0px;
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 30px 30px;
  max-width: 700px;
  z-index: 999;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  display: none;
}

.acc-wrap {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-black);
  margin-bottom: 20px;
}

.acc-img {
  width: 20%;
}

.acc-img img {
  width: 100%;
}

.acc-name {
  font-weight: 700;
}
.acc-mail {
  font-style: italic;
  color: var(--color-blue);
}
.acc-mine {
  margin-bottom: 10px;
}


/* .header-noti-list{
  
} */

/* Footer */
.footer {
  background-color: #f0f0f4f4;
  padding: 140px 10px;
}

.footer-title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-red);
  margin-bottom: 20px;
}
.footer-content-label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 4px;
}
.footer-content-desc {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.footer-content-map iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
/* End Footer */
